 /* .main{
    margin-top: 150px;
    


}
.logo-pic{
    display: block;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #dfe1e5;
}
.inp-type{
    margin-top: 20px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    padding:10px 30px;
    border: 1px solid #2b2b2cfd;
    border-radius: 24px;
    font-size: large;
} 
.btn{
   margin-top: 30px;    
   background-color: #dfe1e5;
   border: none;
   padding: 8px 16px;
   border-radius: 4px;
   font-size: 14px;
   margin-left: 5px;
}
.wrap{
   display: flex;
   justify-content: center;
} */

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    width: 200px;
    height: auto;
}
.sms{
    width: 150px;
}
.card{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 450px;
    margin: 0 auto;
   text-align: center;
}
.card{
    color: #2b2839;
    background-color: #fb6f92;
    border-bottom: 10px #707170 solid;
}


